<p>register works!</p>


<!-- 
<form #myForm="ngForm" action="" (onSubmit)="register()">
      <input type="email" 
         placeholder="email" 
         [(ngModel)]="email" 

         name="email">
      <input type="password"  
         placeholder="password" 
         [(ngModel)]="password" 
         name="password">
      <button type="submit">Register</button>
</form> -->

<button (click)="register()">register</button>



<!-- template driven formm -->

<!-- 
{
    "email": "eve.holt@reqres.in",
    "password": "pistol"
} -->